body {
   margin: 0;
   font-family: "Barlow", sans-serif;
}

p,
a,
h1,
h2,
input {
   margin: 0;
}

.project {
   padding: 100px 80px;
   background: #eff6ff;
   color: #2c495b;
   .container {
      display: flex;
      max-width: 1440px;
      margin: 0 auto;
   }

   &__image {
      min-height: 995px;
      flex: 1 1 53%;
      background: url("https://github.com/jm-program/css-task/blob/master/img/bg.jpg?raw=true") no-repeat;
      background-size: cover;
      padding: 45px 50px;
   }

   &__logo {
      width: 154px;
      height: 27px;
   }

   &__body {
      flex: 1 1 47%;
      padding: 70px 115px;
      display: flex;
      flex-direction: column;
      background: #fff;
      box-shadow: 10px 10px 20px 1px #e4edf6;
   }

   &__header {
      font-size: 25px;
      margin-bottom: 27px;
   }

   &__text {
      font-size: 18px;
      color: #95a2ab;
      margin-bottom: 60px;
   }

   &__social-reg-block {
   }

   &__separation-block {
      display: flex;
      align-self: center;
      align-items: center;
      p {
         margin: 50px 5px;
         font-size: 12px;
      }
   }

   &__grey-line {
      width: 110px;
      height: 2px;
      background: #e5e5e5;
   }

   &__form {
   }
}
.social-reg-block {
   display: flex;
   justify-content: space-between;
   &__btn {
      text-decoration: none;
      color: #fff;
      display: flex;
      padding: 10px 0;
   }
}
.fb-btn {
   flex: 0 0 48.5%;
   background: #255a9b;
   &__logo {
      margin: 0 15px;
      width: 8%;
   }

   &__text {
      align-self: center;
   }
}
.linkedin-btn {
   flex: 0 0 48.5%;
   background: #0076b6;
   &__logo {
      margin: 0 15px;
      width: 8%;
   }

   &__text {
      align-self: center;
   }
}
.form {
   display: flex;
   flex-direction: column;
   &__input {
      display: flex;
      justify-content: space-between;
      position: relative;
      margin-bottom: 65px;
      input {
         box-sizing: border-box;
         flex: 0 0 48.5%;
         padding: 30px 10px 15px 10px;
         border: 1px solid #efefef;
      }

      input:focus {
         outline: none;
         border-left: 1px solid #3597fc;
      }

      label.email {
         color: #95a8b6;
         position: absolute;
         top: 5px;
         left: 10px;
      }
      label.tel {
         color: #95a8b6;
         position: absolute;
         top: 5px;
         left: 280px;
      }
   }

   &__header {
      font-size: 20px;
      margin-bottom: 20px;
   }

   &__subtitle {
      color: #637986;
      margin-bottom: 60px;
   }

   &__radio-btn {
      margin-bottom: 25px;

      label {
         margin-right: 20px;
      }

      label:last-child {
         margin-right: 0;
      }

      label img {
         width: 2.5%;
         margin-bottom: -1px;
         margin-left: 5px;
      }
   }

   &__description {
      padding: 15px 10px;
      max-width: 255px;
      box-shadow: 0px 0px 10px 1px #f3f3f3;
      border-radius: 10px;
      margin-bottom: 45px;
      color: #bababa;
   }

   &__checkbox-wrapper {
      margin-bottom: 60px;
      display: flex;
      label {
         color: #bababa;
      }
   }

   &__checkbox {
      display: flex;
      margin-top: 4px;
      margin-right: 10px;
   }

   &__link {
      color: #71b9ff;
   }

   &__btn {
      box-sizing: border-box;
      width: 245px;
      background: #3698fb;
      color: #fff;
      text-align: center;
      padding: 15px;
      font-weight: 700;
      text-decoration: none;
      border-radius: 5px;
   }
}

.radio-btn {

   &__label {
      padding-left: 25px;
   }

   &__input {
      appearance: none;
      position: absolute;
   }

   &__input:checked + span {
      border: 4px solid #3d96fa;
      width: 11px;
      height: 11px;
   }

   &__span {
      position: absolute;
      width: 13px;
      height: 13px;
      border: 2px solid #e8e8e8;
      border-radius: 50%;
      margin-left: -25px;
   }

}

