body {
  margin: 0;
  font-family: "Barlow", sans-serif;
}

p,
a,
h1,
h2,
input {
  margin: 0;
}

.project {
  padding: 100px 80px;
  background: #eff6ff;
  color: #2c495b;
}

.project .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
}

.project__image {
  min-height: 995px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 53%;
          flex: 1 1 53%;
  background: url("/img/bg.jpg") no-repeat;
  background-size: cover;
  padding: 45px 50px;
}

.project__logo {
  width: 154px;
  height: 27px;
}

.project__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 47%;
          flex: 1 1 47%;
  padding: 70px 115px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #fff;
  -webkit-box-shadow: 10px 10px 20px 1px #e4edf6;
          box-shadow: 10px 10px 20px 1px #e4edf6;
}

.project__header {
  font-size: 25px;
  margin-bottom: 27px;
}

.project__text {
  font-size: 18px;
  color: #95a2ab;
  margin-bottom: 60px;
}

.project__separation-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project__separation-block p {
  margin: 50px 5px;
  font-size: 12px;
}

.project__grey-line {
  width: 110px;
  height: 2px;
  background: #e5e5e5;
}

.social-reg-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social-reg-block__btn {
  text-decoration: none;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0;
}

.fb-btn {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48.5%;
          flex: 0 0 48.5%;
  background: #255a9b;
}

.fb-btn__logo {
  margin: 0 15px;
  width: 8%;
}

.fb-btn__text {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.linkedin-btn {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48.5%;
          flex: 0 0 48.5%;
  background: #0076b6;
}

.linkedin-btn__logo {
  margin: 0 15px;
  width: 8%;
}

.linkedin-btn__text {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  margin-bottom: 65px;
}

.form__input input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48.5%;
          flex: 0 0 48.5%;
  padding: 30px 10px 15px 10px;
  border: 1px solid #efefef;
}

.form__input input:focus {
  outline: none;
  border-left: 1px solid #3597fc;
}

.form__input label.email {
  color: #95a8b6;
  position: absolute;
  top: 5px;
  left: 10px;
}

.form__input label.tel {
  color: #95a8b6;
  position: absolute;
  top: 5px;
  left: 280px;
}

.form__header {
  font-size: 20px;
  margin-bottom: 20px;
}

.form__subtitle {
  color: #637986;
  margin-bottom: 60px;
}

.form__radio-btn {
  margin-bottom: 25px;
}

.form__radio-btn label {
  margin-right: 20px;
}

.form__radio-btn label:last-child {
  margin-right: 0;
}

.form__radio-btn label img {
  width: 2.5%;
  margin-bottom: -1px;
  margin-left: 5px;
}

.form__description {
  padding: 15px 10px;
  max-width: 255px;
  -webkit-box-shadow: 0px 0px 10px 1px #f3f3f3;
          box-shadow: 0px 0px 10px 1px #f3f3f3;
  border-radius: 10px;
  margin-bottom: 45px;
  color: #bababa;
}

.form__checkbox-wrapper {
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__checkbox-wrapper label {
  color: #bababa;
}

.form__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 4px;
  margin-right: 10px;
}

.form__link {
  color: #71b9ff;
}

.form__btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 245px;
  background: #3698fb;
  color: #fff;
  text-align: center;
  padding: 15px;
  font-weight: 700;
  text-decoration: none;
  border-radius: 5px;
}

.radio-btn__label {
  padding-left: 25px;
}

.radio-btn__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}

.radio-btn__input:checked + span {
  border: 4px solid #3d96fa;
  width: 11px;
  height: 11px;
}

.radio-btn__span {
  position: absolute;
  width: 13px;
  height: 13px;
  border: 2px solid #e8e8e8;
  border-radius: 50%;
  margin-left: -25px;
}
